

  .outerBox {
    width: 80%;
    border: 8px solid blue;
    padding: 5%;
    margin: 0 auto;
    margin-top: 2%;
    border-radius: 5%;
    align-items: center;
    font-size: 60%;
    height: 80%;
    
  }

  .box {
    width: 35%;
    border: 8px solid blue;
    padding: 2%;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 5%;
  }


  .titleBox {
    width: 25%;
    font-size: 50%;
    border: 8px solid blue;
    padding: 1%;
    margin: 0 auto;
    margin-bottom: 1%;
    margin-top: 2%;
    border-radius: 5%;
  }

  .middle {
    display: flex;
    align-items: center;
    gap: 10%;
  }


  .chat{
    display: flex;
    height: 600px;
    width: 15%;
    border: 8px solid blue;
    align-items: flex-start;
    padding: 2%;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 5%;
    position: relative;
  }
  
  .content {
    list-style-type: none;
  }
  
  .popup-content {
    display: flex;
    background: grey;
    width: 70%;
    height: 90%;
    position: relative;
    border-radius: 5%;
    border: 8px solid blue;
    font-size: 25px;
    right: 0;
  }

  .players{
    display: flex;
    height: 600px;
    width: 15%;
    border: 8px solid blue;
    padding: 2%;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 5%;
  
  }

  
  .screen, .playerScreen {
    display: flex;
    height: 600px;
    width: 75%;
    border: 8px solid blue;
    padding: 2%;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 5%;
    overflow-y:auto
  }

  .navBar {
    width: 30%;
    border: 8px solid blue;
    padding: 2%;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 5%;
    display: flex;
    gap: 10%;
    direction: ltr;
    align-items: center;
  }

  .myB {
    width: 40%;
    height: 20%;
    right: 0;
}
.myBMaf {
  width: 40%;
  height: 20%;
  cursor: pointer;
  overflow: hidden;
}

.myBMaf:hover .descMaf{
  opacity: 1;
  size: auto;
  width: 100%;
  height: auto;
}



.descMaf {
  opacity: 0;
  size: 0px;
  width: 0px;
  height: 0px;
}

.textBox {
    width: 90%;

}



#chatBox {
    position: absolute;
    width: 90%;
    bottom: 0;
    right: 0;
}

.line {
  width: 50%;
  text-align: left;
  margin-left: 0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.chat ul li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chat ul{
  padding: 0;
  margin: 0;
  list-style: none;
}