.coupContainer 
{
  font-size: 14px;
  height: 95%;
  width: 100%;
}

.coupHeaderContent 
{
  border: 1px grey solid;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.coupHeader span 
{
  margin: 0 10px 0 10px;
}

.parent
{
  display: flex;
  height: 75%;
}

.roleList 
{
  height: 100%;
  width: 50%;
  text-align: center;
  border: 1px grey solid;
}

.settingStuff 
{
  width: 50%;
  text-align: center;
  border: 1px grey solid;
}

.card
{
  width: 50%;
  vertical-align: text-bottom;
  text-align: center;
  border: 1px grey solid;
}

.coins
{
  text-align: center;
}

.turnStuff
{
  width: 90%;
  padding: 15px;
  text-align: center;
}