.coupContainer 
{
  font-size: 14px;
  height: 95%;
  width: 100%;
}

.coupHeaderContent 
{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.coupHeader span 
{
  margin: 0 10px 0 10px;
}

.parent
{
  display: flex;
  height: 75%;
}

.roleList 
{
  height: 100%;
  width: 50%;
  text-align: center;
  border: 1.5px grey solid;
}

.settingStuff 
{
  width: 50%;
  text-align: center;
  border: 1.5px grey solid;
}

.card
{
  width: 50%;
  vertical-align: text-bottom;
  text-align: center;
  border: 1.5px grey solid;
}

.coins
{
  text-align: center;
}

.turnStuff
{
  padding: 15px;
  text-align: center;
}

.centerStuff
{
  text-align: center;
}

.centerStuff h1
{
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}

.carousel
{
  width: 100%;
  display: block;
  padding-top: 15px;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 15px; 
}

.item 
{
  width: 130px;
  height: 150px;
  display: inline-block;
  border: 1.5px solid grey;
}

.hoverMe:hover
{
  border: 3px solid grey;
}

.item h2
{
  text-align: center;
}

.modal 
{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content 
{
  width: 40%;
  background-color: #fefefe;
  border: 1px solid #888;
}