.inGame {
  font-size: 14px;
  height: 100%;
}

.roleList {
  display: block;
  border: 1px grey solid;
  height: 40px;
}

.sideButtons {
  display: inline-block;
  width: 50px;
  height: 500px;
}

.phase {
  display: flex;
}

.mainInfo {
  display: inline-block;
  width: 400px;
  height: 500px;
}

.chatbox {
  height: 250px;
  border: 1px grey solid;
}

.aliveList {
  height: 250px;
  border: 1px grey solid;
}

.roleCardTab {
  height: 30px;
  width: 200px;
  /*position: absolute;
  bottom: 0px;*/
  margin: auto;
  border: 2px #856c4e solid;
  border-radius: 10px 10px 0 0;
  background-color: #faf2dc;
  padding: 10px;
  text-align: center; 
}