.inGame {
  font-size: 16px;
  height: 100%;
}

.mafiaHeader {
  display: block;
}

.mafiaHeaderContent {
  display: flex;
  margin: auto;
  border: 1px grey solid;
  padding: 10px 10px 10px 150px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.mafiaHeader span {
  margin: 0 10px 0 10px;
}

.roleList {
  display: block;
  border: 1px grey solid;
  height: 40px;
  overflow: hidden;
}

.roleListItem {
  display: inline-block;
  margin: 8px 4px;
  font-size: 20px;
}

.sideButtons {
  display: inline-block;
  width: 50px;
  height: 460px;
}

.phase {
  display: flex;
}

.mainInfo {
  display: inline-block;
  width: 400px;
}

.topScreen {
  height: 190px;
  border: 1px grey solid;
  padding: 20px;
  overflow: auto;
}

.bottomScreen {
  height: 190px;
  border: 1px grey solid;
  padding: 20px;
  overflow: auto;
}

.topScreen h3 {
  margin: 0;
}

.abilityItem {
  margin-bottom: 5px;
}

.aliveList ul, .deadList ul, .mafiaList ul {
  padding-left: 0;
}

.aliveList li, .deadList li, .mafiaList li {
  list-style: none;
}

.roleCardTab {
  height: 20px;
  width: 300px;
  position: relative;
  bottom: 0px;
  left: 50px;
  border: 2px #856c4e solid;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  background-color: #faf2dc;
  padding-top: 10px;
  text-align: center; 
}

.roleCard {
  width: 240px;
  height: 380px;
  position: relative;
  bottom: 450px;
  left: 50px;
  padding: 10px 30px 10px 30px;
  border: 2px #856c4e solid;
  border-radius: 10px;
  background-color: #faf2dc;
}

.roleCard img {
  margin-right: 20px;
}

.roleCard h1 {
  display: inline;
}

.roleCard .roleLabel {
  text-align: center;
}

.roleCard .tapToHideLabel {
  width: 240px;
  position: absolute;
  bottom: 0px;
  padding-bottom: 10px;
  text-align: center;
}