.roleSetter {
  width: 300px;
  margin: auto;
}

.roleDiv {
  border-radius: 10px;
  border: 1px lightgray solid;
  height: 30px;
  margin-top: 4px;
  padding: 6px;
}

.roleDiv img {
  float: left;
}

.addRoleButton {
  float: right;
}

#chooseRolesDiv, #selectedRolesDiv {
  width: 150px;
  margin-top: 0;
}

#chooseRolesDiv {
  float: left;
}

#selectedRolesDiv {
  float: left;
}