.settings {
  display: block;
}

.roleSetter {
  width: 300px;
  margin: auto;
}

.roleDiv {
  background-color: azure;
  border-radius: 10px;
  border: 1px darkgray solid;
  height: 30px;
  margin-top: 4px;
  padding: 6px;
}

.roleDiv img {
  float: left;
}

.addRoleButton {
  float: right;
}

#chooseRolesDiv, #selectedRolesDiv {
  width: 150px;
  margin-top: 0;
}

#chooseRolesDiv {
  float: left;
}

#selectedRolesDiv {
  float: left;
}

#header {
  width: 450px;
  border: 1px black solid;
  height: 55px;
}

#headerContent {
  width: 100%;
  padding: 10px 0 10px 0;
}

.headerDiv {
  width: 33%;
  height: 35px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.headerDiv div {
  line-height: 35px;
}

#gameTitle {
  margin: 0 auto;
}

#gameTitle h1, #lobbyCode {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

/** Menu **/
#menuButton {
  display: none;
}

#menuButton + label {
  background: url("../../images/menu.png") no-repeat;
  background-size: contain;
  height: 35px;
  width: 35px;
  display: block;
  padding: 0;
  margin: 0px 10px 0px 10px;
}

#menuButton:checked + label {
  background: url("../../images/menu.png") no-repeat;
  background-size: contain;
  height: 35px;
  width: 35px;
  display: block;
  padding: 0;
  margin: 0px 10px 0px 10px;
}

#menuButton:checked ~ #menuItems {
  display: block;
  position: relative;
}

#menuItems {
  display: none;
  border: 1px solid black;
  background-color: white;
  color: gray;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
}

#menuItems ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menuItems ul li {
  padding: 10px;
}

#menuItems ul li:hover {
  background-color: whitesmoke;
}

#menuItems a {
  text-decoration: none;
}

#menuItems a:visited {
  color: gray;
}