.settings {
  display: block;
}

.roleSetter {
  width: 300px;
  margin: auto;
}

.roleDiv {
  background-color: azure;
  border-radius: 10px;
  border: 1px darkgray solid;
  height: 30px;
  margin-top: 4px;
  padding: 6px;
}

.roleDiv img {
  float: left;
}

.addRoleButton {
  float: right;
}

#chooseRolesDiv, #selectedRolesDiv {
  width: 150px;
  margin-top: 0;
}

#chooseRolesDiv {
  float: left;
}

#selectedRolesDiv {
  float: left;
}

#header {
  width: 450px;
  border: 1px black solid;
  height: 35px;
  padding: 10px;
}

#headerContent {
  width: 100%;
}

.headerDiv {
  margin: 0;
  display: inline-block;
  width: 33%;
  vertical-align: middle;
  text-align: center;
}

#menuButtonImage {
  display: block;
}

#gameTitle {
  margin: 0 auto;
}

#gameTitle h1, #lobbyCode {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}